@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
/* header style start */
header{
    display: flex;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);

}
nav ul{
    display: flex;
    column-gap: 15px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.logo strong{
    font-size: 2.5em;
}
/* End header style */
.slaiding{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);
}
.slaiding-img{
    padding: 0px 10%;
}
.half-width{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dispiction{
    color: #727272;
    font-size: 16px;
}
.head-title{
    font-size: 5em;
}
.dispiction{
    font-size: 16px;
}
.btn{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #FF900E;
    color: aliceblue;
}
.slaiding-img{
    margin: 50px 0px;
}
section{
    padding-top: 100px;
    margin-bottom: 100px;
}
/* ------------------------------------
    Our-features styles
---------------------------------------- */

.Our-features{
    display: flex;
    column-gap: 50px;
    padding: 0px 12%;
}
.features-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.fratures-explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.sec-title{
    font-size: 3em;
}
.color-1{
    color: #727272;
}
.color-2{
    color: #FF900E;
}
.button{
    margin-top: 25px;
}
/* --------------------------------
    Features you will love & enjoy
------------------------------------ */
.container{
    display: flex;
    padding: 0px 10%;
    column-gap: 130px;
}
.features-of-our-company{
    flex: 1;
}
.our-emplowear{
    flex: 1;
}
.section-title-1{
    border-left: 5px solid #FF900E;;
    padding-left: 20px;
}
.all-servisess{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.searvices{
    padding: 18px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
.searvices .title{
    font-size: 20px;
}
.years-of-experience{
    position: relative;
    left: 49%;
    text-align: center;
    background-color: #FF900E;
    margin-top: -150px;
    padding: 30px 40px;
    width: 252px;
    border-radius: 10px;
    color: white;
    
}
.years-of-experience strong{
    font-size: 2.5em;
}
.years-of-experience p{
    font-size: 16px;
}
/* -----------------------------------------
    facts styles
----------------------------------------------*/
.facts{
    margin: 0px 10%;
}
.containers{
    display: flex;
    column-gap: 110px;
    justify-content: center;
}
.section-head{
    margin-bottom: 80px;
}
.project{
    width: 20%;
    border: 1px solid #FF900E;
    border-radius: 10px;
    text-align: center;
    padding: 50px 25px;
}
.total-of-numbar{
    color: #424242;
    font-size: 1.9em;
}
.item-name{
    color: #727272;
    font-size: 1.6em;
}
.icon img{
    width: 40%;
}
/* -----------------------------------
         Our Sponspors Styles
---------------------------------------*/
.our-spoonspors-section{
    margin: 0px 10%;
}
.section-top{
    text-align: center;
    margin-bottom: 80px;
}
.our-sponspors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
    

}
.company img{
    filter: grayscale(100%);
}
/* ----------------------------
        Footer styles
-------------------------------- */
footer{
    background-color: #FFF4E7;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
}