@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
/* header style start */
header{
    display: flex;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);

}
nav ul{
    display: flex;
    column-gap: 15px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.logo strong{
    font-size: 2.5em;
}
/* End header style */
.slaiding{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);
}
.slaiding-img{
    padding: 0px 10%;
}
.half-width{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dispiction{
    color: #727272;
    font-size: 16px;
}
.head-title{
    font-size: 5em;
}
.dispiction{
    font-size: 16px;
}
.btn{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #FF900E;
    color: aliceblue;
}
.slaiding-img{
    margin: 50px 0px;
}
section{
    padding-top: 100px;
    margin-bottom: 100px;
}
/* ------------------------------------
    Our-features styles
---------------------------------------- */

.Our-features{
    display: flex;
    column-gap: 50px;
    padding: 0px 12%;
}
.features-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.fratures-explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.sec-title{
    font-size: 3em;
}
.color-1{
    color: #727272;
}
.color-2{
    color: #FF900E;
}
.button{
    margin-top: 25px;
}